* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    font-family: cursive;
    line-height: 1.6;
    overflow: hidden;
}

#background{
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: slide 20s infinite ease-in;
    /* background: url('https://source.unsplash.com/1600x900/?wedding,india') no-repeat center center/ cover; */

    /* Smooth Scroll effect */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(37, 204, 247,0.75)
}

.navbar .logo{
    font-size: 28px;
    font-family: scriptina;
    color: #3B3B98;
    margin: 0 1vw;
}

.navbar ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #3B3B98;
}

.navbar ul li a:hover {
    color: #1B9CFC;
    /* text-decoration: underline; */
}

/* Blur Effect */
/* #background:hover {
    animation: blur-effect 1.5s ease-in forwards, slide 15s infinite;
} */

@keyframes blur-effect {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
    100% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
}

@keyframes slide {
    0% {
        background-image: url("css/img6.png");
    }
    16.67% {
        background-image: url("css/img5.jpg");
    }
    33.33% {
        background-image: url("css/img3.jpg");
    }
    50% {
        background-image: url("css/img9.jpg");
    }
    66.67% {
        background-image: url("css/img5.png");
    }
    83.33% {
        background-image: url("css/img11.jpg");
    }
    100% {
        background-image: url("css/img6.jpg");
    }
}

/* Initial landing page content */
.title-content {
    /* position: absolute;
    top: 30%;
    left: 50%; */
    text-align: center;
    /* margin-top: 10%; */
    /* transform: translate(-50%, -50%); */
}

.title-content h1 {
    font-size: 72px;
    font-family: scriptina;
    color: #1B9CFC;
    line-height: 2.5;
}

.title-content p {
    font-size: 28px;
    color: #25CCF7;
}

/* New section content */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h2{
    font-size: 4rem;
    color: #3B3B98;
}

section p {
    font-size: 1.5rem;
    color: #182C61;
}

section#location .content-container{
    /* backdrop-filter: blur(4px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#location .content-container .map-wrapper{
    border: 10px groove #f0f0f0;
    border-radius: 7px;
    max-width: 1080px;
    min-width: 70%;
    max-height: 600px;
}

section#location .content-container .map-wrapper .googlemap{
    width: 100%;
}

/* Section images */
section#location{
    background: url('https://source.unsplash.com/cAm3a6N35dE/1600x900') no-repeat center center/ cover;
}
section#things-to-do{
    background: url('https://source.unsplash.com/kIUQn79hLW0/1600x900') no-repeat center center/ cover;
}
section#schedule-of-events{
    background: url('https://source.unsplash.com/-pcFcc64vGE/1600x900') no-repeat center center/ cover;
}
section#photos{
    background: url('https://source.unsplash.com/KuudDjBHIlA/1600x900') no-repeat center center/ cover;
}
section#rsvp{
    background: url('https://source.unsplash.com/_Pe4BK6y2EM/1600x900') no-repeat center center/ cover;
}

@font-face {
    font-family: scriptina;
    src: url('css/font/SCRIPTIN.ttf');
}

@media only screen and (max-width: 900px) {
    .title-content h1 {
        font-size: 42px;
    }
    
    .title-content p {
        font-size: 16px;
    }

    .nav-links{
        position: fixed;
        background: rgba(37, 204, 247, 1);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1400px at 90% -15%);
        -webkit-clip-path: circle(1400px at 90% -15%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.15s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.45s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.75s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
    }

    li.fade {
        opacity: 1;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .line{
        width: 30px;
        height: 3px;
        background: #3B3B98;
        margin: 5px;
    }
}

::-webkit-scrollbar{
    width: 17px;
}

::-webkit-scrollbar-track{
    /* border: 5px solid #3B3B98;
    box-shadow: inset 0 0 2.5px 2px rgba(24, 44, 97, 0.5); */
    /* background: linear-gradient(to right, rgba(24, 86, 255, 0.7), rgba(12, 60, 192, 0.7)); */
    background: linear-gradient(to right, #9AECDB, #CAD3C8 1px, #CAD3C8 1px, #9AECDB);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        #1B9CFC,
        #55E6C1
    );
    border-radius: 30px;
}