body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: slide 20s infinite ease-in;

    overflow: hidden;
}

/* Blur Effect */
/* #background:hover {
    animation: blur-effect 1.5s ease-in forwards, slide 15s infinite;
} */

@keyframes blur-effect {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
    100% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
}

@keyframes slide {
    0% {
        background-image: url("css/img6.png");
    }
    25% {
        background-image: url("css/img5.jpg");
    }
    50% {
        background-image: url("css/img3.jpg");
    }
    75% {
        background-image: url("css/img4.png");
    }
    100% {
        background-image: url("css/img5.png");
    }
}

.title-content {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.title-content h1 {
    font-size: 72px;
    font-family: scriptina;
    color: #1B9CFC;
}

.title-content p {
    font-size: 28px;
    color: #25CCF7;
    font-family: cursive;
}

@font-face {
    font-family: scriptina;
    src: url('css/font/SCRIPTIN.ttf');
}